* {
    margin: 0;
    padding: 0;
    outline: none;
}

a, a:visited {
    text-decoration: none;
    /*color: #FFF;*/
}

li {
    list-style-type: none;
}

p {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    min-width: 900px;
    background: url('../img/bg.png') repeat;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

#main {
    margin: 64px auto 0 auto;
    width: 900px;
}

ul.hr {
    height: 50px;
    display: table-row;
}

ul.hr li {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

ul.hr li a{
    color: #fff;
}

ul li ul.popout{
    position: absolute;
    display: none;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: -32px;
}

ul li:hover ul.popout{
    display: block;
}

ul li ul.popout li{
    display: block;
}

ul li ul.popout li:hover{
    background: #EEE;
}

ul li ul.popout li a{
    color: #000;
}

#header_title {
    background-color: #994e4d;
    height: 50px;
    border-radius: 5px 5px 0 0;
}

#header_title .left {
    margin-left: 30px;
}

#header_title .right {
    margin-right: 30px;
}

#content {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 20px 30px;
}

.category {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    white-space: nowrap;
    text-align: center;
}

.category:last-of-type{
    margin-bottom: 0;
}

.category .titles {
    color: #fff;
}

.category .titles th {
    font-weight: 100;
    background: #d66d6b;
}

.category .titles th:first-of-type {
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
}

.category .titles th:last-of-type {
    border-radius: 0 5px 5px 0;
}

.category td.cat-image {
    padding: 10px;
}

.category .name {
    padding: 0px 15px;
    width: 100%;
    text-align: left;
}

.category .topics, .category .answers, .category .last{
    padding: 0px 15px;
}

.category .name a.n {
    font-size: 18px;
    color: black;
}

.topic {
    background-color: #d66d6b;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

.name {
    font-size: 16px;
    color: white;
    padding-left: 20px;
}

.topicBackground {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #f5f5f5;
}

.user_avatar {
    display: inline-block;
}

.user_avatar img {
    max-width: 130px;
    max-height: 130px;
    border-radius: 3px;
    border: 1px solid #d66d6b;
}

.highlighted {
    color: #994e4d;
    display: inline;
    margin-left: 10px;
}

.user_panel{
    width: 150px;
    text-align: center;
}

.user_panel a{
    color: #000;
}
.user_panel a span{
    display: block;
    font-size: 18px;
}

.text_messages {
    padding: 10px;
    width: 630px;
}

.background_message_user {
    background: white;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 170px;
}

.background_message_user:last-of-type{
    margin-bottom: 0 !important;
}


.fast_answer{
    padding: 0 10px;
}

.fast_answer .highlighted{
    margin: 0;
}

.fast_answer .form_input {
    margin: 10px 0;
    border: 1px #CCC solid;
    padding: 10px 15px;
    background: #FFF;
}

.fast_answer .form_input textarea{
    width: 100%;
    border: 0;
    resize: none;
}

.fast_answer #message {
    border-radius: 3px;
    margin: 10px 0;
    display: none;
    border: 1px solid #d66d6b;
    padding: 10px;
    color: #d66d6b;
}

.fast_answer #message.show {
    display: block;
}

.fast_answer .buttonMessages {
    display: inline-block;
    background: #d66d6b;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    outline: none;
    border-radius: 3px;
    border: 0;
}

.fast_answer .buttonMessages:hover {
    cursor: pointer;
    background: #ff8f8f;
}

.fast_answer .buttonMessages {
    display: inline-block;
    background: #d66d6b;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    outline: none;
    border-radius: 3px;
    border: 0;
}

.fast_answer .buttonMessages:hover {
    cursor: pointer;
    background: #ff8f8f;
}

footer {
    margin: 20px 0;
}

footer p {
    margin: 0 auto;
    text-align: center;
}

.new_topic_button{
    display: inline-block;
    color: #d66d6b;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    user-select: none;
    padding: 10px 25px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

a.new_topic_button:hover {
    cursor: pointer;
    background: rgba(214, 109, 107, 0.2);
}

input.topic_title{
    width: 100%;
    border: 0;
}