/* Импорт иконок */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* Настройки под иконки */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
	background-color: white;
	font-size: 24px;
	line-height: 1.5em;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
}

p {
	line-height: 1.5em;
}

#login {
	margin: 100px auto;
	padding: 25px 50px;
	background-color: #ebecf0;
    width: 280px;
}

/* Настройки блока с иконками */
#login form span {
	background-color: #ffffff;
	color: #d66d6b;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
    border-radius: 3px 0 0 3px;
}

/* Размерность полей ввода */
#login form input {
	height: 50px;
	outline:none;
}

/* Настройки для полей ввода */
#login form input[type="text"], input[type="password"], input[type="email"] {
	background-color: white;
	color: #d66d6b;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
    border-radius: 0 3px 3px 0;
}

/* Кнопка регистрации */
#login form input[type="submit"] {
	border-radius: 3px;
	background-color: white;
	color: #d66d6b;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	cursor:pointer;
	width: 280px;
}


