*{
    margin: 0;
    padding: 0;
    outline: none;
}

a, a:visited{
    text-decoration: none;
    color: #FFF;
}

li{
     list-style-type: none;
}

p{
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    min-width: 900px;
    background: url('../img/bg.png') repeat;
}

#main{
    margin: 64px auto 0 auto;
    width: 900px;
}

ul.hr{
    height: 50px;
    display: table-row;
}

ul.hr li {
    display: table-cell; 
    padding: 10px;
    vertical-align: middle;
}

#header_title{
    background-color: #994e4d;
    height: 50px;
    border-radius: 5px 5px 0 0;
}

#header_title .left{
    margin-left: 30px;
}

#header_title .right{
    margin-right: 30px;
}

#categories{
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 10px 30px;
}

.category{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    white-space:nowrap;
    text-align: center;
}

.category .titles{
    color: #fff;
}

.category .titles th{
    background: #d66d6b;
}

.category .titles th:first-of-type{
    border-radius: 5px 0 0 5px;
}

.category .titles th:last-of-type{
    border-radius: 0 5px 5px 0;
}

.category td, .category th{
    padding: 10px 15px;
}

.category td.cat-image{
    padding: 10px;
}

.category .name{
    width: 100%;
    text-align: left;
}

.category .name p.n{
    font-size: 18px;
}

footer{
    margin: 20px 0;
}

footer p{
    margin: 0 auto;
    text-align: center;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear: both;
}