body{
    background: white;
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
    margin: 0;

}
#form
{
    background: url('../img/backg.png') repeat;
    height: 400px;
    width: 350px;
    margin: -250px 0 0 -230px;
    padding: 30px;
    padding-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
   
}

#form:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
}


h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}


#username 
{   
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    background: url(../img/name.png) no-repeat scroll 0% 0% #fff; 
    background-position: center left;
    
}
#email
{   
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    background: url(../img/mail.png) no-repeat scroll 0% 0% #fff;
    background-position: center left;
    
}
#password
{
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    background: url(../img/pass.png) no-repeat scroll 0% 0% #fff;
    background-position: center left;
   
}

#password
{
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    background: url(../img/pass.png) no-repeat scroll 0% 0% #fff;
    background-position: center left;
   
}

#inputs input:focus
{
    background-color: #fff;
    outline: none;
}

#actions
{
    margin: 25px 0 0 0;
}

#submit
{		
    background-color: #fff;
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    float: left;
    height: 50px;
    padding: 0;
    margin-top: 40px;
    width: 350px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #d66d6b;
}


#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

