* {
    margin: 0;
    padding: 0;
    outline: none;
}

a, a:visited {
    text-decoration: none;
    color: #FFF;
}

li {
    list-style-type: none;
}

p {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    min-width: 900px;
    background: url('../img/bg.png') repeat;
}

#main {
    margin: 64px auto 0 auto;
    width: 900px;
}

ul.hr {
    height: 50px;
    display: table-row;
}

ul.hr li {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

#header_title {
    background-color: #994e4d;
    height: 50px;
    border-radius: 5px 5px 0 0;
}

#header_title .left {
    margin-left: 30px;
}

#header_title .right {
    margin-right: 30px;
}

#categories {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 10px 30px;
}

.category {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    white-space: nowrap;
    text-align: center;
}

.category .titles {
    color: #fff;
}

.category .titles th {
    font-weight: 100;
    background: #d66d6b;
}

.category .titles th:first-of-type {
    border-radius: 5px 0 0 5px;
}

.category .titles th:last-of-type {
    border-radius: 0 5px 5px 0;
}

.category td, .category th {
    padding: 10px 15px;
}

.category td.cat-image {
    padding: 10px;
}

.category .name {
    width: 100%;
    text-align: left;
}

.category .name p.n {
    font-size: 18px;
    color: black;
}

footer {
    margin: 20px 0;
}

footer p {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.topic {
    background-color: #d66d6b;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

.name {
    font-size: 16px;
    color: white;
    padding-left: 20px;
}

/* Блок для всей темы */
.topicBackground {
    margin-top: 5px;
    padding-top: 20px;
    border-radius: 5px 5px 5px 5px;
    background: #f5f5f5;
    width: 100%;
}

.form_input {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 770px;
    height: 15px;
    padding: 5px 20px 100px 10px;
}

.back_button {
    margin-left: 515px;
}

a.buttonMessages {
    display: inline-block;
    margin-bottom: 10px;
    background: #d66d6b;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    padding: .2em 2em;
    outline: none;
    border: 1px solid;
}

a.buttonMessages:hover {
    background: #ff8f8f;
}

a.buttonMessages:active {
    background: white;
}

/* Текст - "Быстрое сообщение" */
.text_up_messages {
    color: #994e4d;
    margin-left: 20px;
}

.user_avatar {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background: #d66d6b;
}

#name {
    margin-left: 20px;
}

#count_messages {
    margin-left: 20px;
}

#status {
    margin-left: 30px;
}

#date_text {
    margin-left: 5px;
    color: #994e4d;
}

/* Блок с информации об авторе сообщения */
.user_panel {
    background-color: white;
    padding: 5px;
    float: left;
    width: 150px;
    min-height: 170px;
}

/* Блок с сообщением пользователя */
.text_messages {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    width: 640px;
    min-height: 170px;
    float: left;
}

.clear {
    clear: left; /* Отмена обтекания */
}

/* Задний фон сообщения пользователя */
.background_message_user {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 820px;
    margin-bottom: 20px;
    margin-left: 10px;

}